body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.jumbotron img {
    float: right;
    width: 300px;
}

.jumbotron h1 {
    font-size: 50px;
}

.bingoTable img {
    min-width: 100px;
	height: auto;
}

.bingoTable p {
    font-size: small;
    text-wrap: normal;
}

.bingoTable .panel {
    width: 160px;
	height: 160px;
	padding: 15px 15px 15px 15px;
}

.bingoTable h1 {
    position: absolute; 
    top: 15px; 
    left: 70px; 
    width: 100%;
    font-size : 80px;
    font-weight: 900;
    color : red;
}

.panel-heading {
    height: 55px;
    font-size: 24px;
}
